.footer {
    position: relative;
    /* bottom: 0px; */
    top:90%;
}

/*page[size="A4"] {*/
/*    width: 95vw !important;*/
/*    min-height: 99vh;*/
/*}*/

.report-type{
    margin-top:250px;
}

.add-page{
    page-break-after: always;
    margin-top: 10px;
}
.page-no{
    position: relative;
    /* bottom: 0px; */
    top:90%;
}
page{
    margin-top:200px;
}

@page { margin: 0px; }
body { margin: 0px; }
